<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Document
body
    header#header
        nav.header-nav
            a.header-nav__item Лента
            a.header-nav__item Авторы
            a.header-nav__item Магазин
            a.header-nav__item Форум
            a.header-nav__item FAQ
            a.header-nav__item Партнерская программа
    main#main Hello World! BFFF
    footer#footer Footer
